img {
  max-width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #f2f2f2;
  margin: 0;
  text-transform: uppercase;
}

body::before {
  content: "";
  z-index: -10;
  position: fixed;
  box-shadow: 0px 5px 15px rgba(0,1,1,0.2);
  top: 0;
  bottom: 0;
  width: 1200px;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

h2 {
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  /*box-shadow: 0px 5px 15px rgba(0,1,1,0.2);*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

p { margin:0; }

header {
  min-height: 56px;
  font-weight: 700;
  position: relative;
}

header .container { background: #fff; }

.main-menu li,
.main-menu a {
  display: inline-block;
  vertical-align: top;
}

.main-menu a {
  width: 239px;
  box-sizing: border-box;
  padding: 18px;
  padding-bottom: 19px;
  text-align: center;
}

.main-menu a:hover { color: #81b3d2; }

.main-menu a:active {
  color: #000;
  opacity: 0.3;
}

.main-menu .current-btn,
.main-menu .current-btn:active {
  color: #766357;
}

.main-menu .current-btn:hover { color: #604e43; }

.main-menu .current-btn:active { opacity: 0.3; }

.main-menu .logo-btn {
  float: left;
  width: 138px;
  height: 70px;
  margin-left: 50px;
  margin-bottom: -14px;
  background-image: url("../img/sprt.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-menu-left { float: left; }

.main-menu-right { float: right; }

.intro-info {
  min-height: 216px;
  box-sizing: border-box;
  padding: 58px 20px;
  padding-bottom: 55px;
  background: #fff;
  text-align: center;
  margin-top: -5px; /**/
}

.intro-info h1 {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.filters-block {
  height: 217px;
  background: url(../img/bg-filters.jpg);
  padding: 30px 72px 15px;
  color: #fff;
}

.filters-block h2 {
  font-weight: 700;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 14px;
}

.filter-left {
  float: left;
  width: 240px;
}

.filter-left:nth-of-type(2) { padding-left: 15px; }

.filter-left input { display: none; }

.filter-left label {
  display: block;
  padding-left: 40px;
  margin-bottom: 24px;
  line-height: 22px;
  position: relative;
  cursor: pointer;
}

.filter-left label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 22px;
  background: url(../img/sprt.png) 0px -70px;
}

.filter-input:disabled + .filter-label { cursor: default; }

.filter-label:hover::before { background-position: 0px -100px; }
.filter-input:disabled + .filter-label::before { background-position: 0px -130px; }

.filter-input:checked + .filter-label::before { background-position: -30px -70px; }
.filter-input:checked + .filter-label:hover::before { background-position: -30px -100px; }
.filter-input:checked:disabled + .filter-label::before { background-position: -30px -130px; }

.filter-right {
  float: right;
  width: 31%;
  box-sizing: border-box;
  padding-left: 10px;
}

.filter-right h2 {
  margin-left: -10px;
  margin-bottom: 13px;
}

.filter-price-inputs-block {
  display: block;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 5px 0;
  position: relative;
  margin-bottom: 10px;
  line-height: 0;
}

.filter-price-inputs-block:after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left:50%;
  transform: translateX(-50%);
  width: 2px;
  background: #fff;
}

.filter-price-inputs-line {
  width: 49%;
  display: inline-block;
  line-height: 22px;
}

.filter-right label {
  width: 52%;
  float: left;
  text-align: right;
}

.filter-price-inputs-line:nth-of-type(2) label { width: 47%; }

.filter-price-input {
  background: none;
  border: none;
  float: left;
  width: 48%;
  text-align: left;
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 22px;
}

.filter-price-toggles-box {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
  height: 20px;
}

.filter-price-toggles-bar {
  top: 10px;
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
}

.filter-price-toggles-filled-bar {
  display: block;
  position: absolute;
  left: 10px;
  right: 55px;
  height: 2px;
  background: #fff;
}

.filter-price-toggle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-price-toggle:hover { background: #1c4f80; }

.filter-price-toggle-left { left:0%; }

.filter-price-toggle-right {
  right: 17.4%;
  transform: translateX(50%);
}

.filter-price-show-button {
  display: block;
  min-width: 137px;
  min-height: 36px;
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 10px;
  margin-left: 26%;
}

.filter-price-show-button:hover {
  background: #fff;
  color: #000;
}

.search-result-title-box {
  padding: 28px 72px;
  background: #fff;
}

.search-result-title-box {
  font-size: 12px;
}

.search-result-title-box h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  margin-right: 26px;
}

.search-result-title-box > span,
.search-result-title-sort-type-active,
.search-result-title-sort-type {
  margin: 0 18px;
}

.search-result-title-sort-type-active,
.search-result-title-sort-type {
  margin-right: 13px;
}

.search-result-title-sort-type:hover,
.search-result-title-sort-type-active {
  color: #81b3d2;
}

.search-result-title-sort-type {
  color: rgba(0,0,0,0.3);
  display: inline-block;
  border-bottom: 1px dotted #81b3d2;
  line-height: 13px;
}

.search-result-title-sort-type:active {
  color: #000;
  border-bottom: none;
}

.search-result-title-sort-arrows-block {
  float: right;
  margin-top: 8px;
  margin-right: 2px;
}

.sort-arrow {
  display: inline-block;
  margin-left: 8px;
  font-size: 0;
  width: 11px;
  height: 10px;
  background: url(../img/sprt.png) no-repeat;
}

.sort-arrow-up { background-position: -150px -70px; }
.sort-arrow-up:hover { background-position: -150px -100px; }

.sort-arrow-up:active,
.sort-arrow-up-current {
  background-position: -150px -130px;
}

.sort-arrow-down { background-position: -170px -70px; }
.sort-arrow-down:hover { background-position: -170px -100px; }

.sort-arrow-down:active,
.sort-arrow-down-current {
  background-position: -170px -130px;
}

.features-text-photo {
  height: 256px;
  background: #81b3d2;
  color: #fff;
}

.features-text {
  width: 400px;
  height: 256px;
  padding: 51px 59px;
  box-sizing: border-box;
  overflow: auto;
  float: left;
  text-align: center;
}

.features-text:nth-child(2n) {float: right;}

.feature-number { margin-bottom: 23px; }

.features-text h2,
.feature h2,
.feature-title-image {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  line-height: 22px;
}

.features-text h2,
.feature h2 {
  margin: 0 auto;
  margin-bottom: 24px;
}

.features-list {
  min-height: 330px;
  background: #fff;
}

.feature {
  float: left;
  width: 400px;
  box-sizing: border-box;
  padding: 60px 50px;
}

.feature-title-image {
  padding-top: 100px;
  margin-bottom: 24px;
  position: relative;
}

.feature-title-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background: url(../img/sprt.png) no-repeat;
}

 .feature-title-image-home::before { background-position: -130px -208px; }

 .feature-title-image-food::before {
   background-position: -205px -208px;
   width: 74px;
   height: 70px;
 }

 .feature-title-image-gift::before {
   background-position: -205px -130px;
   width: 64px;
   height: 76px;
 }

.features-without-illustrations-list h2 { padding-top: 0; }

.features-without-illustrations-list .feature { padding-top: 45px; }

.feature p { text-align: center; }

.booking-and-map-box {
  background: #fff;
  padding: 0 40px;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.booking-and-map-box .p-like-header {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 22px;
  line-height: 40px;
}

.booking-and-map-box p {
  margin: 0 auto;
  line-height: 24px;
}

.search-form-btn {
  width: 568px;
  box-sizing: border-box;
  margin: 48px auto 0;
  padding: 28px 20px 30px;
  font-size: 21px;
  line-height: 26px;
}

.brown-btn {
  background: #766357;
  display: block;
  color: #fff;
  font-weight: 700;
}

.brown-btn:hover { background: #604e43; }

.brown-btn:active {
  background: #503e33;
  color: #6c5d54;
  color: rgba(255,255,255, 0.3);
}

.map {
  margin: 0;
  padding: 0;
  height: 593px;
  background: url("../img/map.jpg") no-repeat;
}

footer {
  min-height: 120px;
  background: #fff;
  padding: 33px;
}

.footer-index {
  background: rgba(255,255,255,0.9);
  margin-top: -120px;
}

.footer-hash-tag-btn {
  font-weight: 700;
  padding: 13px;
  margin-left: 85px;
  float: left;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  float: left;
  margin-left: 244px;
  margin-top: 5px;
}

.social-btn {
  float: left;
  width: 46px;
  height: 46px;
  background-image: url("../img/sprt.png");
  background-repeat: no-repeat;
  background-position: 0px -160px;
  font-size: 0;
  margin-right: 6px;
}

.social-btn-fb { background-position: -50px -160px; }

.social-btn-yt { background-position: -100px -160px; }

.social-btn-tw:active { background-position: 0px -325px; }

.social-btn-fb:active { background-position: -50px -325px; }

.social-btn-yt:active { background-position: -100px -325px; }

.footer-copyright {
  float: right;
  padding: 15px 0;
  margin-right: 78px;
  margin-top: 2px;
}

.footer-copyright span {
  margin-right: 8px;
}

.footer-copyright-btn {
  float: right;
  margin-top: -10px;
  width: 113px;
  height: 39px;
  background: url("../img/sprt.png") no-repeat 0px -208px;
  font-size: 0;
}

.footer-copyright-btn:hover { background-position: 0px -247px; }

.footer-copyright-btn:active { background-position: 0px -286px; }

.blue-btn {
  border: none;
  background-color: #81b3d2;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s;
}

.blue-btn:hover {  background-color: #669ec0; }

.blue-btn:active {  background-color: #5496bd; }

.popup-form {
  display: block;
  position: absolute;
}

.booking-popup {
  left: 50%;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  margin-left: -284px;
  width: 570px;
  min-height: 395px;
  box-sizing: border-box;
  padding: 55px;
  font-weight: 700;
}

.booking-popup input {
  border: none;
  background-color: #f2f2f2;
  padding: 10px 17px;
}

.booking-popup-date-inputs {
  position: relative;
  margin-bottom: 29px;
}

.booking-popup * { box-sizing: border-box; }

.booking-popup label,
.booking-popup input {
  float: left;
  padding: 9px 0;
}

.booking-popup label {
  width: 110px;
  text-align: left;
}

.booking-popup-date-inputs input {
  cursor: pointer;
  width: 350px;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 15px;
  padding-right: 45px;
  outline: none;
  transition: background 0.2s;
}

.booking-form-calendar-icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: 8px;
  background: url(../img/sprt.png) -100px -70px;
}

.booking-popup input:hover { background: #ebebeb; }

.booking-popup-date-inputs:hover .booking-form-calendar-icon { background-position: -100px -100px; }

.booking-popup input:active {
  background: #fff;
  border: 2px solid #e5e5e5;
}

.booking-popup-date-inputs input:active { padding-left: 13px; }

.booking-popup-date-inputs:active .booking-form-calendar-icon { background-position: -100px -130px; }

.booking-popup-count-inputs {
  float: left;
  margin-bottom: 56px;
}

.booking-popup-count-inputs:nth-of-type(2n) { float: right; }

.booking-popup-count-inputs:nth-of-type(2n) label { width: 68px; }

.booking-form-count-button {
  float: left;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
}

.booking-form-count-input {
  width: 38px;
  height: 38px;
  text-align: center;
}

.booking-form-icon-minus,
.booking-form-icon-plus {
  background-image: url(../img/sprt.png);
  display: block;
  margin: 50% auto;
  transform: translateY(-50%);
}

.booking-form-icon-minus {
  background-position: -60px -70px;
  width: 12px;
  height: 3px;
}

.booking-form-count-button:hover .booking-form-icon-minus { background-position: -60px -100px; }

.booking-form-count-button:active .booking-form-icon-minus { background-position: -60px -130px; }

.booking-form-icon-plus {
  background-position: -80px -70px;
  width: 11px;
  height: 11px;
}

.booking-form-count-button:hover .booking-form-icon-plus { background-position: -80px -100px; }

.booking-form-count-button:active .booking-form-icon-plus { background-position: -80px -130px; }

.booking-popup .blue-btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

/* ----- */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url(../fonts/ptsansbold.woff);
}
