body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #f2f2f2;
  margin: 0;
  text-transform: uppercase;
}

body::before {
  content: "";
  z-index: -10;
  position: fixed;
  box-shadow: 0px 5px 15px rgba(0,1,1,0.2);
  top: 0;
  bottom: 0;
  width: 1200px;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

h2 {
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*box-shadow: 0px 5px 15px rgba(0,1,1,0.2);*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

p { margin:0; }

header {
  min-height: 56px;
  font-weight: 700;
  position: relative;
}

header .container { background: #fff; }

.main-menu li,
.main-menu a {
  display: inline-block;
  vertical-align: top;
}

.main-menu a {
  width: 239px;
  box-sizing: border-box;
  padding: 18px;
  padding-bottom: 19px;
  text-align: center;
}

.main-menu a:hover { color: #81b3d2; }

.main-menu a:active {
  color: #000;
  opacity: 0.3;
}

.main-menu .current-btn,
.main-menu .current-btn:active {
  color: #766357;
}

.main-menu .current-btn:hover { color: #604e43; }

.main-menu .current-btn:active { opacity: 0.3; }

.main-menu .logo-btn {
  float: left;
  width: 138px;
  height: 70px;
  margin-left: 50px;
  margin-bottom: -14px;
  background-image: url("../img/sprt.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-menu-left { float: left; }

.main-menu-right { float: right; }

.intro-info {
  /*width: 1200px;*/
  min-height: 216px;
  box-sizing: border-box;
  padding: 58px 20px;
  padding-bottom: 55px;
  background: #fff;
  text-align: center;
  margin-top: -5px; /**/
}

.intro-info h1 {
	width: 450px;
	margin: 0 auto;
  margin-bottom: 32px;
}

.features-text-photo {
  height: 256px;
  background: #81b3d2;
  color: #fff;
}

.features-text {
	width: 400px;
	height: 256px;
	padding: 51px 59px;
	box-sizing: border-box;
	overflow: auto;
	float: left;
	text-align: center;
}

.features-text:nth-child(2n) {float: right;}

.feature-number { margin-bottom: 23px; }

.features-text h2,
.feature h2 {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  line-height: 22px;
}

.features-text h2 {
  /*width: 150px;*/
  margin: 0 auto;
  margin-bottom: 24px;
}

/*.features-text p:first-of-type { margin-bottom: 23px; }*/

.features-list {
  min-height: 330px;
  background: #fff;
}

.feature {
  float: left;
  width: 400px;
  box-sizing: border-box;
  padding: 60px 50px;
}

.feature h2 {
  padding-top: 100px;
  margin-bottom: 24px;
}

.features-without-illustrations-list h2 { padding-top: 0; }

.features-without-illustrations-list .feature { padding-top: 45px; }

.feature p {
  text-align: center;
  /*margin: 0;*/
}

.booking-and-map-box {
  background: #fff;
  padding: 0 40px;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
}

.booking-and-map-box .p-like-header {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 22px;
  line-height: 40px;
}

.booking-and-map-box p {
  margin: 0 auto;
  line-height: 24px;
}

.search-form-btn {
  width: 568px;
  box-sizing: border-box;
  margin: 48px auto 0;
  padding: 28px 20px 30px;
  font-size: 21px;
  line-height: 26px;
}

.brown-btn {
  background: #766357;
  display: block;
  color: #fff;
  font-weight: 700;
}

.brown-btn:hover { background: #604e43; }

.brown-btn:active {
  background: #503e33;
  color: #6c5d54;
  color: rgba(255,255,255, 0.3);
}

/* ----- */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url(../fonts/ptsansbold.woff);
}
